* {
 box-sizing: border-box;
 padding: 0;
}

*, *::after, *::before {
 box-sizing: inherit;
}

::placeholder {
 color: blue;
 font-size: 1.5em;
}

.unordered-list {
 margin: 0;
 padding: 0;
 list-style-type: none; 
 display: block;
}

.top, .bottom {
 display: flex;
 flex-basis: row wrap;
}

.red-box {
 background-color: red;
 height: 100px;
 margin: 5px;
}

.blue-box {
 background-color: blue;
 height: 100px;
 margin: 5px;
}

.six-five {
 width: 65%;
}

.three-five {
 width: 35%;
}