* {
 box-sizing: border-box;
 padding: 0;
}

*, *::after, *::before {
 box-sizing: inherit;
}

::placeholder {
 font-family: PosterizerKGRough, monospace;
}

.unordered-list {
 margin: 0;
 padding: 0;
 display: block;
 list-style-type: none; 
}

.top, .center, .bottom  {
 display: flex;
 flex-basis: row wrap;
}

.red-box{
 background-color: red;
 margin: 5px;
}

.blue-box {
 background-color: blue;
 margin: 5px;
}

.red-box, .blue-box, .blue-box-center, .red-box-center {
 height: 100px;
}

.blue-box-center, .red-box-center {
width: 49.5%;
}

.blue-box-center {
 background-color: blue;
 margin: 0 5px 0 5px;
}

.red-box-center {
 background-color: #FF0000;
 margin: 0 0 0 5px;
}

.six-five {
 width: 65%;
}

.three-five {
 width: 35%;
}

.button-group {
 margin: 5px 0 0 0;
 display: flex;
}

.button-group button {
 display: block;
 width: 1rem;
 height: 1rem;
}